body{
    /* background-color: black; */
}
.photos img{
    width: 100px;
    border: 5px solid springgreen ;
    cursor: pointer;
}
.photos img:hover{
    border: 5px solid black;
}
.main img{
    width: 450px;
    height: 410px;
}
.gallery{
    display: flex;
    justify-content: space-around;
}